@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,700&display=swap');

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Red Hat Display',
    sans-serif;
  background-color: rgba(236, 240, 241, 0.7);
}


.bg-holby-red {
  background-color: #c23616 !important;
}

.holby-white {
  color: rgba(236, 240, 241, 0.7) !important;
}

.holby-white:hover {
  color: rgba(236, 240, 241, 1) !important;
}

.custom-app-title {
  letter-spacing: 1px;
  color: rgba(236, 240, 241, 0.7) !important;
}

.custom-app-title:hover {
  color: rgba(236, 240, 241, 1) !important;
}

.custom-some-margin {
  margin-left: 5px !important;
  margin-right: 5px !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.custom-top-social-links {
  margin: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.custom-carousel {
  height: 500px !important;
  object-fit: cover !important;
  filter: brightness(40%);
}

.custom-section-margin-top {
  margin-top: 100px;
}

/* Courses Carousel starts here */
.slider {
  margin: 10px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  transition: all ease-in-out .3s;
}

/* Courses Carousel ends here */

.custom-courses-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.custom-ad-section {
  background-color: green;
  height: 100px;
  width: 100%;
  color: white;
}

.section-courses {
  background: #2ecc71;
}

.custom-card-body {}

.custom-courses-card {
  border: none !important;
}

.custom-testimonial-img {
  padding-top: 10px !important;
}

.slick-slide img {
  height: 200px !important;
  object-fit: cover !important;
}

.custom-card-body {
  height: 150px !important;
}


#tabs {
  background: #007b5e;
  color: #eee;
}

#tabs h6.section-title {
  color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #f3f3f3;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 4px solid !important;
  font-size: 20px;
  font-weight: bold;
}

#tabs .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: #eee;
  font-size: 20px;
}

/* bootstrap hack for course slider end */
.tab-content>.tab-pane,
.pill-content>.pill-pane {
  display: block;
  /* undo display:none          */
  height: 0;
  /* height:0 is also invisible */
  overflow-y: hidden;
  /* no-overflow                */
}

.tab-content>.active,
.pill-content>.active {
  height: auto;
  /* let the content decide it  */
  overflow-y: visible;
}

/* bootstrap hack end */


.custom-center-main-header {
  text-align: center;
}

.custom-top-social-info {
  padding-top: 10px !important;
  padding-right: 2% !important;
  margin: 0px !important;
}

/* 

  ********************************************************
    Screen Break Points

    Starts Here 
  ********************************************************

*/

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 100px) and (max-width: 576px) {
  .custom-top-social-links {
    display: none !important;
  }

  .custom-carousel {
    height: 250px !important;
  }
}

@media only screen and (min-width: 577px) and (max-width: 766px) {
  .custom-top-social-links {
    display: none !important;
  }

  .custom-carousel {
    height: 300px !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width:991px) {
  .custom-top-social-links {
    display: none !important;
  }

  .custom-app-title {
    display: none;
  }

  .custom-carousel {
    height: 400px !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}